$cyan-darklight: #6f7b7d;
$cyan-light: #e8e8e8;
$cyan-primary: $cyan !default;

.theme-cyan{

    ::selection{
        color: $white; 
        background: $cyan-primary;
    }
    .sidebar-nav .metismenu{
        >li{
            &.active>a{               
                color: $cyan-primary;
            }
        }
        
        a:hover,
        a:focus{
            color: $cyan-primary;
            background: rgba($cyan-primary, .03);

            &:after{
                color: $cyan-primary;
            }            
        }
        ul a:hover{
            &::before{
                background: $cyan-primary;
            }
        }
        
    }
    .card .header{
        h2{
            color: $cyan-primary;
        }
    }
    .form-control{
        &:focus {
            color: $cyan-primary;
        }
    }
    .fancy-checkbox{
        input[type="checkbox"] {    
            &:checked + span:before {
                color: $cyan-primary;
                border-color: $cyan-primary;
            }
        }
    }    
    .chat-widget{
        li {
            &.right {
                
                .chat-info {
                    background: $cyan-primary;
                    color: $white;
    
                    &:before{
                        border-left: 10px solid $cyan-primary;
                    }
                }
            }
        }
    }
    .wizard{
        >.steps{
            .current a{
                background: $cyan-primary;
            }
            .done a{
                background: $cyan-darklight;
            }
        }        
    }
    .pagination{
        >li{
            >a{
                color: $cyan-primary;
                &:hover{
                    background: $cyan-primary;
                    border-color: $cyan-primary; 
                    color: $white;
                }
            }
            >span{
                color: $cyan-primary;
            }
        }
    }
    .page-item.active .page-link{
        background-color: $cyan-primary;
        border-color: $cyan-primary;
    }

    .switch {
        input:checked + .slider {
            background-color: $cyan-primary;
        }
        
        input:focus + .slider {
            box-shadow: 0 0 1px $cyan-primary;
        }
    }
}