$green-darklight: #6f7b7d;
$green-light: #e8e8e8;
$green-primary: $green !default;

.theme-green{

    ::selection{
        color: $white; 
        background: $green-primary;
    }
    .sidebar-nav .metismenu{
        >li{
            &.active>a{               
                color: $green-primary;
            }
        }
        
        a:hover,
        a:focus{
            color: $green-primary;
            background: rgba($green-primary, .03);

            &:after{
                color: $green-primary;
            }            
        }
        ul a:hover{
            &::before{
                background: $green-primary;
            }
        }
        
    }
    .card .header{
        h2{
            color: $green-primary;
        }
    }
    .form-control{
        &:focus {
            color: $green-primary;
        }
    }
    .fancy-checkbox{
        input[type="checkbox"] {    
            &:checked + span:before {
                color: $green-primary;
                border-color: $green-primary;
            }
        }
    }    
    .chat-widget{
        li {
            &.right {
                
                .chat-info {
                    background: $green-primary;
                    color: $white;
    
                    &:before{
                        border-left: 10px solid $green-primary;
                    }
                }
            }
        }
    }
    .wizard{
        >.steps{
            .current a{
                background: $green-primary;
            }
            .done a{
                background: $green-darklight;
            }
        }        
    }
    .pagination{
        >li{
            >a{
                color: $green-primary;
                &:hover{
                    background: $green-primary;
                    border-color: $green-primary; 
                    color: $white;
                }
            }
            >span{
                color: $green-primary;
            }
        }
    }
    .page-item.active .page-link{
        background-color: $green-primary;
        border-color: $green-primary;
    }
    .switch {
        input:checked + .slider {
            background-color: $green-primary;
        }
        
        input:focus + .slider {
            box-shadow: 0 0 1px $green-primary;
        }
    }
    .guick_link{
        li{
            &:hover{
                &::before,
                a{
                    color: $green-primary;
                }
            }            
        }
    }
}